bin/
logs/
/.classpath
/.project
/.springBeans
/.settings
/target
.factorypath
.class
.idea/
*.iml
*~
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
/.apt_generated/
