<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.AmazonInfoMapper">

    <select id="selectAmazonInfoById" resultMap="amazonInfoResultMap" parameterType="map">
      SELECT
        id,
        format,
        purchase_type AS purchaseType,
        price,
        prime_ind AS primeInd
      FROM amz_vid
      WHERE id = #{id}
      AND deleted_ind = 0;
    </select>

    <select id="selectAmazonInfoForMovie" resultMap="amazonInfoResultMap"  parameterType="map">
      SELECT
          a.id,
          a.format,
          a.purchase_type AS purchaseType,
          a.price,
          a.prime_ind AS primeInd
      FROM movie_source s, amz_vid a
      WHERE a.movie_source_id = s.id
      AND s.movie_id=#{movie_id}
      AND deleted_ind = 0
    </select>

    <resultMap id="amazonInfoResultMap" type="com.rottentomatoes.movieapi.domain.model.AmazonInfo">
        <id property="id" column="id" />
    </resultMap>
</mapper>
