<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.AudienceSummaryMapper">

    <select id="selectAudienceSummaryForMovie" resultMap="audienceSummaryResultMap">
        SELECT
        rating_summary.movie_id,
        CASE
            WHEN theater_release_date > CURDATE() THEN
                CASE
                    WHEN num_wts + num_ni &lt; 5 THEN 'NA'
                    ELSE 'anticipated'                
                END
            ELSE 
                CASE
                    WHEN num_dtl_scores &lt; 5 THEN 'NA'
                    WHEN ROUND(100 * num_dtl_liked / num_dtl_scores) >= 60 THEN 'upright'
                    ELSE 'spilled'
                END
        END AS state,
           CASE
            WHEN theater_release_date > CURDATE() THEN
                CASE
                    WHEN num_wts + num_ni &lt; 5 THEN NULL
                    ELSE ROUND(100 * num_wts /(num_wts + num_ni))                
                END
            ELSE 
                CASE
                    WHEN num_dtl_scores &lt; 5 THEN NULL                    
                    ELSE ROUND(100 * num_dtl_liked/num_dtl_scores)
                END
        END AS value,
        
        ROUND(average_score,1) AS avgScore,
        (num_wts + num_ni + num_scores) AS audienceCount
        
        FROM movie, rating_summary
        WHERE movie.movie_id = #{movie_id}
        AND movie.movie_id = rating_summary.movie_id        
    </select>

    <resultMap id="audienceSummaryResultMap" type="com.rottentomatoes.movieapi.domain.model.AudienceSummary">
        <id property="id" column="movie_id"/>
        <result property="audienceCount" column="audienceCount" javaType="int"/>
        <result property="avgScore" column="avgScore" javaType="double"/>
        <association property="popcornMeter" javaType="map">
            <result property="state" column="state" javaType="string" />
            <result property="value" column="value" javaType="int"/>            
        </association>
    </resultMap>

</mapper>