<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.AudienceSummaryMapper">

    <select id="selectAudienceSummaryForMovie" resultMap="audienceSummaryResultMap">
        SELECT
        movie_id,
        num_scores AS scoreCount,
        average_score AS avgScore,
        num_wts AS wtsCount,
        num_ni AS notInterestedCount,
        num_reviews AS reviewsCount
        FROM rating_summary WHERE movie_id = #{movie_id}
    </select>

    <resultMap id="audienceSummaryResultMap" type="com.rottentomatoes.movieapi.domain.model.AudienceSummary">
        <id property="id" column="movie_id"/>
    </resultMap>

</mapper>