<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.CriticMapper">

    <sql id="criticSelectColumns">
        critic.id AS critic_id,
        critic.name AS critic_name,
       	critic.vanity_url AS critic_vanity_url,

        critic.image_id AS critic_img_id,
        critic_img.img_width AS critic_img_width,
        critic_img.img_height AS critic_img_height,
        critic_img.format AS critic_img_format,
        'c' AS critic_img_type
    </sql>

    <select id="selectCriticById" resultMap="criticResultMap">
        SELECT
        critic.id,
        critic.name,
       	critic.vanity_url,

        critic.image_id AS img_id,
        critic_img.img_width AS img_width,
        critic_img.img_height AS img_height,
        critic_img.format AS img_format,
        'c' AS img_type
        FROM critic
        LEFT JOIN critic_top ON critic.id = critic_top.critic_id
        LEFT JOIN critic_img ON critic.image_id = critic_img.id
        WHERE critic.id = #{id}
        AND deleted_ind = 0
    </select>

    <select id="selectCriticsByPublication" resultMap="criticResultMap">
        SELECT
        critic.id,
        critic.name,
        critic.vanity_url,

        critic.image_id AS img_id,
        critic_img.img_width AS img_width,
        critic_img.img_height AS img_height,
        critic_img.format AS img_format,
        'c' AS img_type
        FROM critic
        LEFT JOIN critic_top ON critic.id = critic_top.critic_id
        LEFT JOIN critic_img ON critic.image_id = critic_img.id
        INNER JOIN critic_publication_map
          ON critic_publication_map.critic_id = critic.id
        WHERE critic_publication_map.publication_id = #{publication_id}
        AND deleted_ind = 0
    </select>

    <select id="selectCriticSupplementaryInfo" resultMap="criticSupplementaryInfoMap" parameterType="map">
      SELECT id, location, url, bio, favorites, quotes
      FROM critic
      WHERE critic.id = #{id}
      AND deleted_ind = 0
    </select>

    <select id="selectAllCritics" resultMap="criticResultMap" parameterType="map">
        SELECT
        critic.id,
        critic.name,
        critic.vanity_url,

        critic.image_id AS img_id,
        critic_img.img_width AS img_width,
        critic_img.img_height AS img_height,
        critic_img.format AS img_format,
        'c' AS img_type
        FROM critic
        LEFT JOIN critic_img ON critic.image_id = critic_img.id
        WHERE critic.deleted_ind = 0
        /*AND critic.status = 'CURRENT' OR critic.status = 'ADMIN_PROTECTED_CURRENT'*/
        <if test="initial != null">
            AND name LIKE #{initial}
        </if>
        ORDER BY critic.name

        <choose>
            <when test="limit != null and offset != null">
                LIMIT #{offset},#{limit}
            </when>
            <when test="limit != null">
                LIMIT #{limit}
            </when>
        </choose>
    </select>

    <resultMap id="criticResultMap" type="com.rottentomatoes.movieapi.domain.model.Critic">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="vanity" column="vanity_url"/>

        <association property="mainImage" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" notNullColumn="img_id" />
    </resultMap>    

    <resultMap id="criticSupplementaryInfoMap" type="com.rottentomatoes.movieapi.domain.model.CriticSupplementaryInfo">
        <id property="id" column="id" />
        <result property="location" column="location" />
        <result property="officialUrl" column="url" />
        <result property="bio" column="bio" />
        <result property="favorites" column="favorites" />
        <result property="quotes" column="quotes" />
    </resultMap>



</mapper>


