<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.CriticGroupMapper">

    <select id="selectCriticGroupById" resultMap="criticGroupResultMap" parameterType="map">
        SELECT
          id,
          name,
          url
        FROM critic_list
        WHERE critic_list.id = #{id}
        AND deleted_ind = 0
    </select>

    <select id="selectAllCriticGroups" resultMap="criticGroupResultMap" parameterType="map">
        SELECT
          id,
          name,
          url
        FROM critic_list
        WHERE deleted_ind = 0
        ORDER BY name
    </select>


    <resultMap id="criticGroupResultMap" type="com.rottentomatoes.movieapi.domain.model.CriticGroup">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="url" column="url" />

    </resultMap>
</mapper>
