<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.CriticSummaryMapper">
    <select id="selectCriticSummaryForMovie" resultMap="criticSummaryResultMap">
        SELECT 
        t.*,
        
        CONVERT(tc.top_fresh_count/tc.top_critics*100, UNSIGNED) AS top_country_tomatometer_value, /* TODO: Precalculate */
        CASE WHEN (SELECT top_country_tomatometer_value) IS NULL THEN null
        WHEN t.certified_fresh = 1 THEN 'certified_fresh' /* Inherits CF status */
        WHEN (SELECT top_country_tomatometer_value) >= 60 THEN 'fresh'        
        ELSE 'rotten'
        END AS top_country_tomatometer_state,
        IFNULL(tc.top_critics,0) AS top_country_critics_count, 
        IFNULL(tc.top_fresh_count,0) AS top_country_fresh_count,
        IFNULL(tc.top_rotten_count,0) AS top_country_rotten_count, 
        IFNULL(tc.top_dvd_count,0) AS top_country_dvd_count,
        0 AS top_country_avg_score  /* TODO: need avgrating for top */)
        
        FROM tomatometer_info t 
        LEFT OUTER JOIN tmeter_country_info tc on t.movie_id=tc.movie_id and tc.country= #{country}
        WHERE t.movie_id= #{movie_id}
    </select>

    <resultMap id="criticSummaryResultMap" type="com.rottentomatoes.movieapi.domain.model.CriticSummary">
        <id property="id" column="id" />

        <result property="consensus" column="consensus" />

        <!-- All Critic values are NOT country specific -->
        <association property="allCritics" javaType="java.util.LinkedHashMap">
            <!-- The All Critic tomatometer is the OFFICIAL, authoritative tomatometer. 
                 It's value and state are reported in the /movie endpoint for convenience 
                 We could repeat it here for consistency but then we risk discrepencies due to caching etc.
            -->        
            
            <result property="totalCount" column="all_critics"/>
            <result property="freshCount" column="fresh_count"/>
            <result property="rottenCount" column="rotten_count"/>
            <result property="dvdCount" column="dvd_count"/>
            <result property="averageRating" column="avg_score"/>
        </association>
        
        <!-- Top Critic values are ALWAYS country specific (Default = US)
            Use a child resultMap because myBatis doesn't allow nested associations (for the tmeter object)
        -->
        <association property="topCritics" resultMap="topCriticsResultMap" columnPrefix="top_country_" />
       
    </resultMap>

    <resultMap id="topCriticsResultMap"  type="java.util.LinkedHashMap">
        <result property="totalCount" column="critics_count"/>
        <result property="freshCount" column="fresh_count"/>
        <result property="rottenCount" column="rotten_count"/>
        <result property="dvdCount" column="dvd_count"/>
        <result property="averageRating" column="avg_score"/>

        <!-- Explicitly name this the 'topCriticsTomatometer' just to minimize risk of confusion with the 
             all-critic 'official' tomatometer.
         -->
        <association property="topCriticsTomatometer" javaType="java.util.LinkedHashMap">
            <result property="value" column="tomatometer_value" />
            <result property="state" column="tomatometer_state" />
        </association>
    </resultMap>
    
</mapper>