<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.CriticSummaryMapper">
    <select id="selectCriticSummaryForMovie" resultMap="criticSummaryResultMap">
        SELECT t.*, IFNULL(tc.top_critics,0) AS top_country_critics_count, 
        IFNULL(tc.top_fresh_count,0) AS top_country_fresh_count,
        IFNULL(tc.top_rotten_count,0) AS top_country_rotten_count, 
        IFNULL(tc.top_dvd_count,0) AS top_country_dvd_count
        FROM tomatometer_info t LEFT OUTER JOIN tmeter_country_info tc on t.movie_id=tc.movie_id and tc.country= #{country} 
        WHERE t.movie_id= #{movie_id}
    </select>

    <resultMap id="criticSummaryResultMap" type="com.rottentomatoes.movieapi.domain.model.CriticSummary">
        <id property="id" column="id" />
        <result property="averageScore" column="avg_score"/>
        <result property="consensus" column="consensus"/>
        <result property="isCertifiedFresh" column="certified_fresh"/>
        <result property="isPendingCertifiedFresh" column="pending_certified"/>
        
        <!-- All Critic values are static. Not country specific -->
        <result property="allCriticsCount" column="all_critics"/>
        <result property="allFreshCount" column="fresh_count"/>
        <result property="allRottenCount" column="rotten_count"/>
        <result property="allDvdCount" column="dvd_count"/>

        <!-- Top Critic values are always country specific (Default = US)-->
        <result property="topCriticsCount" column="top_country_critics_count"/>
        <result property="topFreshCount" column="top_country_fresh_count"/>
        <result property="topRottenCount" column="top_country_rotten_count"/>
        <result property="topDvdCount" column="top_country_dvd_count"/>

        <!-- 
        <result property="reviewCount" column="num_reviews"/>
        <result property="topFreshCount" column="top_fresh_count"/>
        <result property="topRottenCount" column="top_rotten_count"/>
        <result property="topDvdCount" column="top_dvd_count"/>
         -->        
    </resultMap>
</mapper>