<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rottentomatoes.movieapi.mappers.GenreMapper">

    <select id="selectGenreById" resultMap="genreResultMap" parameterType="map">
        SELECT * FROM genre WHERE genre.id = #{id}
    </select>

    <select id="selectGenresForMovie" resultMap="genreResultMap"  parameterType="map">
          SELECT genre.*
          FROM movie_genre
          LEFT JOIN genre ON movie_genre.genre_id = genre.id
          WHERE movie_genre.movie_id = #{movie_id}
        <if test="limit != null">LIMIT #{limit}</if>
    </select>
    
    <resultMap id="genreResultMap" type="com.rottentomatoes.movieapi.domain.model.Genre">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="tag" column="tag" />
    </resultMap>
</mapper>
