<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.IdListMapper">

    <select id="selectSitemapMovieIds" resultMap="idListMap" parameterType="map">
        SELECT movie_id AS item_id FROM movie LIMIT 10; 
    </select>
    
    <resultMap id="idListMap" type="string">
        <result column="item_id" />
    </resultMap>
    

</mapper>
