<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
  TODO: Figure out filter and sort order

 -->

<mapper namespace="com.rottentomatoes.movieapi.mappers.ImageMapper">
    <select id="selectImageByIdAndType" resultMap="imageResultMap">
        SELECT CONCAT('${type}-' , id) AS img_id, 
        '${type}' AS img_type,
        img_width, img_height 
        FROM ${type}        
        WHERE id=#{id}
    </select>
    
    <select id="selectImagesForMovie" resultMap="imageResultMap" parameterType="map">
        SELECT CONCAT('movie_img-' , id) AS img_id,
        id AS databaseId,
        'movie_img' AS imageType,
        img_width AS originalWidth,
        img_height AS originalHeight
        FROM movie_img 
        WHERE movie_id=#{movie_id}
        <if test="limit != null">LIMIT #{limit}</if>
    </select>

    <resultMap id="imageResultMap" type="com.rottentomatoes.movieapi.domain.model.Image">
        <id property="id" column="img_id" />
    </resultMap>

    <select id="selectImageCountForMovie" resultMap="imageMataDataResultMap" parameterType="map">
        SELECT
          count(*) AS totalCount
        FROM movie_img
        WHERE movie_id=#{movie_id}
    </select>

    <resultMap id="imageMataDataResultMap" type="com.rottentomatoes.movieapi.domain.meta.RelatedMetaDataInformation" />
</mapper>
