<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
  TODO: Figure out filter and sort order

 -->

<mapper namespace="com.rottentomatoes.movieapi.mappers.ImageMapper">
    <select id="selectImageByIdAndType" resultMap="imageResultMap">
        SELECT * FROM video_clip WHERE id=#{id}
    </select>
    
    <select id="selectImagesForMovie" resultMap="imageResultMap">
        SELECT * 
        FROM movie_img 
        WHERE movie_id=#{movie_id}
        <if test="limit != null">
        LIMIT #{limit}
        </if>        
    </select>

    <resultMap id="imageResultMap" type="com.rottentomatoes.movieapi.domain.model.Image">
        <id property="id" column="id" />
        <result property="url" column="id" typeHandler="com.rottentomatoes.movieapi.mappers.ImageUrlTypeHandler"/>
    </resultMap>
</mapper>
