<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
  TODO: Figure out filter and sort order

 -->

<mapper namespace="com.rottentomatoes.movieapi.mappers.ImageMapper">
    <select id="selectImageByIdAndType" resultMap="imageResultMap">
        SELECT CONCAT('${type}-' , id) AS img_id,
        '${type}' AS img_type,
        img_width, 
        img_height,
        format AS img_format
        FROM ${type}        
        WHERE id=#{id}
    </select>

    <select id="selectImagesForMovie" resultMap="imageResultMap" parameterType="map">
        SELECT
            multiuse_img_reference.media_type AS mediaType,
            multiuse_img.id AS img_id,
            multiuse_img.format AS img_format,
            multiuse_img.img_width AS img_width,
            multiuse_img.img_height AS img_height,
            'n' AS img_type
        FROM multiuse_img_reference
        LEFT JOIN multiuse_img ON multiuse_img.id = multiuse_img_reference.multiuse_image_id
        WHERE multiuse_img_reference.media_id=#{movie_id}
            AND multiuse_img_reference.media_type='MV'
            AND multiuse_img_reference.status IN ('A')
        <choose>
            <when test="limit != null and offset != null">
                LIMIT #{offset},#{limit}
            </when>
            <when test="limit != null">
                LIMIT #{limit}
            </when>
        </choose>
    </select>

    <resultMap id="imageResultMap" type="com.rottentomatoes.movieapi.domain.model.Image">
        <constructor>
            <idArg column="img_id" javaType="string" /> <!-- required -->
            <arg column="img_height" javaType="int" /> <!-- nullable -->
            <arg column="img_width" javaType="int" /> <!-- nullable -->
            <arg column="img_format" javaType="string" />  <!-- nullable -->
            <arg column="img_type" javaType="string" /> <!-- required -->
        </constructor>
    </resultMap>

    <select id="selectImageCountForMovie" resultMap="imageMataDataResultMap" parameterType="map">
        SELECT
          count(*) AS totalCount
        FROM multiuse_img_reference
        WHERE multiuse_img_reference.media_id=#{movie_id}
    </select>

    <resultMap id="imageMataDataResultMap" type="com.rottentomatoes.movieapi.domain.meta.RelatedMetaDataInformation"/>
</mapper>
