<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.MediaListCategoryMapper">

    <select id="selectMediaListCategoryById" resultMap="mediaListCategoryMap" parameterType="map">
        SELECT
        id,
        name,
        status,
        creation_date
        FROM media_list_category
        WHERE id = #{id}
        <if test="status != null">
            AND status = #{status}
        </if>
        LIMIT #{offset}, #{limit};
    </select>

    <select id="selectMediaListCategory" resultMap="mediaListCategoryMap" parameterType="map">
        SELECT
        id,
        name,
        status,
        creation_date
        FROM media_list_category
        <if test="status != null">
            WHERE status = #{status}
        </if>
        LIMIT #{offset}, #{limit};
    </select>

    <resultMap id="mediaListCategoryMap" type="com.rottentomatoes.movieapi.domain.model.MediaListCategory">
        <id property="id" column="id" />
        <result property="name" column="name"/>
        <result property="creationDate" column="creation_date"/>
        <result property="status" column="status"/>
    </resultMap>

</mapper>
