<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rottentomatoes.movieapi.mappers.MovieCastMapper">
    <select id="selectMovieCastById" resultMap="movieCastResultMap">
        SELECT movie_cast.id, movie_cast.role, movie_person.name movie_person_name, movie_person.id movie_person_id, movie_character.name character_name
        FROM movie_person, movie_cast, movie_character
        WHERE movie_cast.id = #{id}
        AND movie_cast.person_id = movie_person.id
        AND movie_cast.id = movie_character.cast_id
        AND movie_cast.deleted_ind = 0 
        AND movie_character.deleted_ind = 0
        AND movie_person.deleted_ind = 0
        AND movie_person.public_ind = 1 
    </select>

    <select id="selectPersonsForMovie" resultMap="movieCastResultMap">
        SELECT movie_cast.id, movie_cast.role, movie_person.name movie_person_name, movie_person.id movie_person_id, movie_character.name character_name
        FROM movie_person, movie_cast, movie_character
        WHERE movie_cast.movie_id = #{id}
        AND movie_cast.person_id = movie_person.id
        AND movie_cast.id = movie_character.cast_id
        AND movie_cast.deleted_ind = 0 
        AND movie_character.deleted_ind = 0
        AND movie_person.deleted_ind = 0
        AND movie_person.public_ind = 1 
    </select>
    
        
    <resultMap id="movieCastResultMap" type="com.rottentomatoes.movieapi.domain.model.MovieCast">
        <id property="id" column="id" />
        <result property="role" column="role" />
        
                
        <association property="person" javaType="com.rottentomatoes.movieapi.domain.model.Person">
            <id property="id" column="movie_person_id" />
        </association>
        
        <collection property="characters" javaType="list" ofType="java.lang.String">
            <result column="character_name" />
        </collection>
    </resultMap>

</mapper>