<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rottentomatoes.movieapi.mappers.MovieListMapper">

    <select id="selectBoxOfficeMovies"  resultMap="com.rottentomatoes.movieapi.mappers.MovieMapper.movieResultMap" parameterType="map">
		<include refid="com.rottentomatoes.movieapi.mappers.MovieMapper.movieSelectSql" />
        WHERE movie.movie_id IN (SELECT * FROM 
        (
        	SELECT movie_id FROM movie_box_office WHERE country='us' ORDER BY id DESC LIMIT 10
        ) temp_tab)
    </select>


</mapper>
