<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.MovieListMapper">

    <select id="selectBoxOfficeMovies" resultMap="com.rottentomatoes.movieapi.mappers.MovieMapper.movieResultMap"
            parameterType="map">
        SELECT
        <include refid="com.rottentomatoes.movieapi.mappers.MovieMapper.movieSelectSql"/>
        WHERE movie.movie_id IN (SELECT * FROM
        (
        SELECT movie_id FROM movie_box_office WHERE country='us' ORDER BY id DESC
        <choose>
            <when test="limit != null">
                LIMIT #{limit}
            </when>
            <otherwise>
                LIMIT 10
            </otherwise>
        </choose>

        ) temp_tab)
    </select>


    <select id="selectOpeningMovies" resultMap="com.rottentomatoes.movieapi.mappers.MovieMapper.movieResultMap" parameterType="map">
        SELECT
        <include refid="com.rottentomatoes.movieapi.mappers.MovieMapper.movieSelectSql"/>
        WHERE movie.movie_id IN
        (SELECT distinct
        movie_box_office.movie_id
        FROM movie_box_office
        LEFT JOIN movie_intl_release ON movie_intl_release.movie_id = movie_box_office.movie_id
        LEFT JOIN rating_summary ON rating_summary.movie_id = movie_intl_release.movie_id
        WHERE movie_intl_release.release_date BETWEEN #{startDate} AND #{endDate}
        AND movie_intl_release.country = 'us'
        ORDER BY movie_intl_release.limited_ind DESC, rating_summary.num_wts DESC)
    </select>

</mapper>
