<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.MovieMapper">
    <cache
            flushInterval="600000"
            size="2048"
    />

    <sql id="movieSelectSql">
        #{actorLimit} actorLimit, /* Dummy columns used for passing subselect params */
        #{reviewLimit} reviewLimit,
        #{videoLimit} videoLimit,
        'movie_img' main_image_type,
        movie.movie_id,
        movie.title,
        movie.year,
        movie.theater_release_date,
        movie.dvd_release_date,
        movie.status,
        movie.tomatometer,
        movie.box_office,
        movie.sequence,
        movie.feature_level,
        movie.mpaa_rating,
        movie.creation_date,
        movie.last_modified_date,
        movie.version,
        movie.main_trailer,
        movie.advisory,
        movie.studio_id,
        movie.auto_update_ind,
        movie.trailer_update_ind,
        
        movie_img.id AS movie_img_id,
        movie_img.format AS movie_img_format,
        movie_img.img_width AS movie_img_width,
        movie_img.img_height AS movie_img_height,
        'mv' AS movie_img_type,
        
        multiuse_img_reference.media_type AS hero_img_type,
        multiuse_img.id AS hero_img_id,
        multiuse_img.format hero_img_format,
        multiuse_img.img_width hero_img_width,
        multiuse_img.img_height hero_img_height,
        
        movie_studio.name AS studioName,
        tomatometer AS value,
        CASE
        WHEN certified_fresh THEN 'certified_fresh'
        WHEN tomatometer_info.all_critics &lt; 5 THEN 'NA'
        WHEN tomatometer IS NULL THEN 'NA'
        WHEN (tomatometer >= 60) THEN 'fresh'
        ELSE 'rotten'
        END AS state,
        (SELECT url
        FROM vanity_movie_url
        WHERE movie_id = movie.movie_id
        AND primary_ind = 1
        AND platform = 'RTO'
        AND multiuse_img_reference.hero_img_ind = 1
        AND multiuse_img_reference.status = 1
        ORDER BY url ASC LIMIT 1
        ) AS vanity_token, 
        movie_meta_data.running_time,
        movie_meta_data.official_url,
        movie_synopsis.synopsis
        FROM movie
        LEFT JOIN movie_studio ON movie.studio_id=movie_studio.id
        LEFT JOIN movie_meta_data ON movie_meta_data.movie_id = movie.movie_id
        LEFT JOIN tomatometer_info ON tomatometer_info.movie_id = movie.movie_id
        LEFT JOIN movie_synopsis ON movie_synopsis.id = movie_meta_data.synopsis_id
        LEFT JOIN movie_img ON movie_img.movie_id = movie.movie_id
        LEFT JOIN multiuse_img_reference ON multiuse_img_reference.media_id = movie.movie_id
        LEFT JOIN multiuse_img ON multiuse_img.id = multiuse_img_reference.multiuse_image_id
        <!--  TODO: Check status=active -->
    </sql>

    <select id="selectMovieById" resultMap="movieResultMap" parameterType="map">
        SELECT
        <include refid="movieSelectSql"/>
        WHERE movie.movie_id = #{id}
    </select>

    <resultMap id="movieResultMap" type="com.rottentomatoes.movieapi.domain.model.Movie">
        <id property="id" column="movie_id"/>
        <result property="title" column="title"/>
        <result property="year" column="year"/>
        <result property="boxOffice" column="box_office"/>
        <result property="mpaaRating" column="mpaa_rating" javaType="com.rottentomatoes.movieapi.enums.MpaaRating"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
        <result property="creationDate" column="creation_date" javaType="java.time.ZonedDateTime"/>
        <result property="lastModifiedDate" column="last_modified_date" javaType="java.time.ZonedDateTime"/>
        <result property="status" column="status"/>
        <result property="advisory" column="advisory"/>
        <result property="vanity" column="vanity_token"/>
        <result property="synopsis" column="synopsis"/>
        <result property="runningTime" column="running_time"/>
        <result property="officialUrl" column="official_url"/>
        <result property="mainTrailer" column="main_trailer"/>
        <result property="studioName" column="studioName"/>
        <association property="releaseDates" javaType="map">
            <result property="theater" column="theater_release_date" javaType="java.time.LocalDate"/>
            <result property="dvd" column="dvd_release_date" javaType="java.time.LocalDate"/>
        </association>
        <association property="tomatometer" javaType="map">
            <result property="value" column="value"/>
            <result property="state" column="state"/>
        </association>


        <association property="posterImage" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" columnPrefix="movie_" notNullColumn="img_id"/>
        
        <association property="heroImage" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" columnPrefix="hero_" notNullColumn="img_id"/>

    </resultMap>

</mapper>
