<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
  Notes:
    Unconditionally returns all non-cast roles (directors, producers, screenwriters)
    Returns only the requested number of actor (ACT) items, if a limit is specified.
    
  TODO:  
 	How to handle public_ind?
 -->
<mapper namespace="com.rottentomatoes.movieapi.mappers.MovieCastMapper">
    <sql id="selectMovieCastWithPerson">
        SELECT
        movie_cast.*,
        movie_character.name character_name,
        <include refid="com.rottentomatoes.movieapi.mappers.PersonMapper.moviePersonColumns"/>
        <include refid="com.rottentomatoes.movieapi.mappers.PersonMapper.moviePersonImageColumns"/>
        FROM movie_cast
        LEFT OUTER JOIN movie_person ON 
            movie_cast.person_id = movie_person.id AND movie_person.deleted_ind != 1   
        <include refid="com.rottentomatoes.movieapi.mappers.PersonMapper.imageVanityJoins" />
        
        LEFT OUTER JOIN movie_character ON 
            movie_cast.id = movie_character.cast_id AND movie_character.deleted_ind != 1 
        
        WHERE movie_cast.deleted_ind != 1
    </sql>


    <select id="selectMovieCastById" resultMap="movieCastResultMap" parameterType="map">
        <include refid="selectMovieCastWithPerson" />
        AND movie_cast.id = #{movieCastId}
    </select>

    <!-- Actorlimit will filter actor array. All others always come full-length  -->
    <select id="selectMovieCastForMovie" resultMap="movieCastResultMap" parameterType="map">
        (
        <include refid="selectMovieCastWithPerson"/>
        AND movie_cast.movie_id = #{movie_id}
        AND movie_cast.role != "ACT"
        )
        UNION
        (
        <include refid="selectMovieCastWithPerson"/>AND movie_cast.movie_id = #{movie_id}
        AND movie_cast.movie_id = #{movie_id}
        AND movie_cast.role = "ACT"
        <if test="actorsLimit != null">
            LIMIT #{actorsLimit}
        </if>
        )
    </select>

    
    <resultMap id="movieCastResultMap" type="com.rottentomatoes.movieapi.domain.model.MovieCast">
        <id property="id" column="id"/>
        <result property="role" column="role"/>

        <association property="person" resultMap="com.rottentomatoes.movieapi.mappers.PersonMapper.personMap"/>

        <collection property="characters" javaType="list" ofType="java.lang.String">
            <result column="character_name"/>
        </collection>
    </resultMap>

    <select id="selectMovieCastCountForMovie" resultMap="movieCastMetaDataResultMap" parameterType="map">
        SELECT count(*) as totalCount
        FROM movie_cast
        WHERE movie_cast.movie_id = #{movie_id} 
        AND movie_cast.deleted_ind != 1
    </select>

    <resultMap id="movieCastMetaDataResultMap" type="com.rottentomatoes.movieapi.domain.meta.RelatedMetaDataInformation"/>

</mapper>