<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rottentomatoes.movieapi.mappers.PersonMapper">
    <select id="selectPersonById" resultMap="personMap">
        SELECT * FROM movie_person WHERE id = #{id}
    </select>

    <select id="selectPersonForMovieCast" resultMap="personMap">
        SELECT movie_person.* 
        FROM movie_person, movie_cast 
        WHERE movie_cast.id = #{id}
        AND movie_person.id = movie_cast.person_id;
    </select>

    <resultMap id="personMap" type="com.rottentomatoes.movieapi.domain.model.Person">
        <id property="id" column="id" />
        <result property="name" column="name"/>
    </resultMap>

</mapper>