<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.PersonMapper">
    <sql id="moviePersonColumns">
        movie_person.name AS movie_person_name,
        movie_person.id AS movie_person_id,
        vanity_actor_url.url AS movie_person_vanity,
    </sql>
    <sql id="moviePersonImageColumns">
        preferred_img_id AS img_id,
        CASE preferred_img_type
            WHEN 'RTA' THEN 'r'
            WHEN 'MUI' THEN 'n'
            WHEN 'PHI' THEN 'p'
            ELSE null
        END AS img_type,
        COALESCE(rtactor_img.img_width, multiuse_img.img_width, photo_img.img_width) AS img_width,
        COALESCE(rtactor_img.img_height, multiuse_img.img_height, photo_img.img_height) AS img_height,
        COALESCE(rtactor_img.format, multiuse_img.format, photo_img.format) AS img_format
    </sql>

    <sql id="imageVanityJoins">
        LEFT OUTER JOIN rtactor_img ON preferred_img_type='RTA' AND preferred_img_id=rtactor_img.id
        LEFT OUTER JOIN multiuse_img ON preferred_img_type='MUI' AND preferred_img_id=multiuse_img.id
        LEFT OUTER JOIN photo_img ON preferred_img_type='PHI' AND preferred_img_id=photo_img.id
        LEFT OUTER JOIN vanity_actor_url ON 
            movie_person.id = vanity_actor_url.movie_person_id AND /* primary_ind unused, mostly null */
            vanity_actor_url.platform = 'RTO' AND
            vanity_actor_url.deleted_ind = 0
    </sql>

    <!--  Note: movie_person.public_ind is unused -->
    <select id="selectPersonById" resultMap="personMap">
        SELECT
        <include refid="moviePersonColumns"/>
        <include refid="moviePersonImageColumns"/>
        FROM movie_person
        <include refid="imageVanityJoins" />

        WHERE movie_person.id = #{id}
        AND movie_person.deleted_ind = 0 
    </select>

    <select id="selectPersonForMovieCast" resultMap="personMap">
        SELECT
        <include refid="moviePersonColumns"/>
        <include refid="moviePersonImageColumns"/>
        FROM movie_person
        <include refid="imageVanityJoins" />
        
        INNER JOIN movie_cast ON 
            movie_cast.id = #{id} AND 
            movie_cast.deleted_ind = 0 AND
            movie_cast.person_id = movie_person.id
        
        WHERE movie_person.deleted_ind = 0        
    </select>

    <resultMap id="personMap" type="com.rottentomatoes.movieapi.domain.model.Person">
        <id property="id" column="movie_person_id"/>
        <result property="name" column="movie_person_name"/>
        <result property="vanity" column="movie_person_vanity" />        
      
        <association property="mainImage" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" notNullColumn="img_id"/>
      
    </resultMap>

</mapper>