<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.PersonMapper">
    <!--  TODO: preferred_img columsn do not convey height, width , or format. Should add these columsn to movie_person schema,
                or better yet, create separate movie_person_preferred_img table-->
    <sql id="moviePersonImageColumns">
        preferred_img_id AS img_id,
        CASE preferred_img_type
            WHEN 'RTA' THEN 'ac'
            WHEN 'MUI' THEN 'nn'
            WHEN 'PHI' THEN 'pi'
            ELSE null
        END AS img_type,
        null AS img_height,
        null AS img_width,
        null AS img_format
    </sql>
    <!--  Note: looks like preferred_img_type and preferred_img_id is currently not used at all in the DB. -->

    <select id="selectPersonById" resultMap="personMap">
        SELECT movie_person.*,
        <include refid="moviePersonImageColumns"/>
        FROM movie_person
        WHERE id = #{id}
        AND deleted_ind = 0 AND public_ind = 1
    </select>

    <select id="selectPersonForMovieCast" resultMap="personMap">
        SELECT movie_person.*,
        <include refid="moviePersonImageColumns"/>
        FROM movie_person, movie_cast
        WHERE movie_cast.id = #{id}
        AND movie_person.id = movie_cast.person_id;
        AND movie_person.deleted_ind = 0 AND movie_person.public_ind = 1
        AND movie_cast.deleted_ind = 0
    </select>

    <resultMap id="personMap" type="com.rottentomatoes.movieapi.domain.model.Person">
        <id property="id" column="movie_person_id"/>
        <result property="name" column="movie_person_name"/>
        <result property="vanity" column="movie_person_vanity" />        
      
        <association property="mainImage" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" notNullColumn="img_id"/>
      
    </resultMap>

</mapper>