<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.PromoItemMapper">

    <sql id="promoItemSql">
        promo_item.id,
        promo_section,
        sequence,
        start_date,
        start_time,
        header,
        url,
        object_id,
        object_type,
        sub_header,
        site_image_id,
        site_img.id AS promo_img_id,
        site_img.format AS promo_img_format,
        site_img.img_width AS promo_img_width,
        site_img.img_height AS promo_img_height,
        'p' AS promo_img_type
        FROM promo_item
    </sql>

    <select id="selectPromoSections" resultMap="promoSectionResultMap" parameterType="map">
        SELECT distinct promo_section
        FROM promo_item
    </select>

    <select id="selectPromoSectionById" resultMap="promoSectionResultMap" parameterType="map">
        SELECT distinct promo_section
        FROM promo_item
        WHERE promo_section = #{promo_section_id}
    </select>

    <select id="selectPromoItems" resultMap="promoItemResultMap" parameterType="map">
        SELECT
        <include refid="promoItemSql"/>
        LEFT JOIN site_img ON site_img.id = promo_item.site_image_id
        WHERE deleted_ind = 0
        AND country = #{country}
        ORDER BY promo_section, sequence
    </select>

    <select id="selectPromoItemById" resultMap="promoItemResultMap" parameterType="map">
        SELECT
        <include refid="promoItemSql"/>
        LEFT JOIN site_img ON site_img.id = promo_item.site_image_id
        WHERE id = #{id}
        AND deleted_ind = 0
        AND country = #{country}
    </select>

    <select id="selectPromoItemsByPromoSectionId" resultMap="promoItemResultMap"  parameterType="map">
        SELECT
        <include refid="promoItemSql"/>
        LEFT JOIN site_img ON site_img.id = promo_item.site_image_id
        WHERE deleted_ind = 0
        AND promo_section = #{promo_section}
        AND country = #{country}
        AND start_time &lt; NOW()
        ORDER BY sequence
    </select>

    <resultMap id="promoSectionResultMap" type="com.rottentomatoes.movieapi.domain.model.PromoSection">
        <id property="id" column="promo_section" />
    </resultMap>

    <resultMap id="promoItemResultMap" type="com.rottentomatoes.movieapi.domain.model.PromoItem">
        <id property="id" column="id" />
        <result property="promoSection" column="promo_section" />
        <result property="sequence" column="sequence" />
        <result property="startDate" column="start_date" />
        <result property="startTime" column="start_time" />
        <result property="header" column="header" />
        <result property="url" column="url" />
        <result property="objectId" column="object_id" />
        <result property="objectType" column="object_type" />
        <result property="subHeader" column="sub_header" />
        <result property="siteImageId" column="site_image_id" />
        <association property="image" resultMap="com.rottentomatoes.movieapi.mappers.ImageMapper.imageResultMap" columnPrefix="promo_" notNullColumn="img_id"/>
    </resultMap>

</mapper>
