<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rottentomatoes.movieapi.mappers.SonicInfoMapper">

    <select id="selectSonicInfoById" resultMap="sonicInfoResultMap" parameterType="map">
      SELECT
          sku.id,
          sku.purchase_type AS purchaseType,
          sku.price,
          sku.start_date,
          sku.end_date,
          sku.sku_ready_ind AS skuReadyInd
        FROM sonic_movie_sku sku
        WHERE sku.id=#{id}
        AND purchase_version = 'DEF'
        AND (purchase_type = 'B' OR purchase_type = 'R')
    </select>

    <select id="selectSonicInfoForMovie" resultMap="sonicInfoResultMap"  parameterType="map">
        SELECT
          sku.id,
          sku.purchase_type AS purchaseType,
          sku.price,
          sku.start_date,
          sku.end_date,
          sku.sku_ready_ind AS skuReadyInd
        FROM sonic_movie_sku sku, sonic_movie sm
        WHERE sm.id=sku.sonic_movie_id
        AND sm.movie_id=#{movie_id}
        AND purchase_version = 'DEF'
        AND (purchase_type = 'B' OR purchase_type = 'R')
    </select>

    <resultMap id="sonicInfoResultMap" type="com.rottentomatoes.movieapi.domain.model.SonicInfo">
        <id property="id" column="id" />
        <result property="startDate" column="start_date" javaType="java.time.LocalDate"/>
        <result property="endDate" column="end_date" javaType="java.time.LocalDate"/>
    </resultMap>
</mapper>
