<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  
  TODO: Figure out filter and sort order

 -->

<mapper namespace="com.rottentomatoes.movieapi.mappers.VideoClipMapper">
    <select id="selectVideoClipById" resultMap="videoClipResultMap">
        SELECT * FROM video_clip WHERE id=#{id}
    </select>
    
    <select id="selectVideoClipsForMovie" resultMap="videoClipResultMap" parameterType="map">
        SELECT
            id,
            url,
            language,
            source,
            format,
            title,
            duration,
            status,
            fav_count as "favoriteCount",
            thumb_url as "thumbUrl"
        FROM video_clip 
        WHERE movie_id=#{movie_id}
        ORDER BY fav_count DESC
        <if test="limit != null">LIMIT #{limit}</if>
    </select>

    <resultMap id="videoClipResultMap" type="com.rottentomatoes.movieapi.domain.model.VideoClip" />


    <select id="selectVideoClipCountForMovie" resultMap="videoClipMetaDataResultMap" parameterType="map">
        SELECT
          count(*) AS totalCount
        FROM video_clip
        WHERE movie_id=#{movie_id}
    </select>

    <resultMap id="videoClipMetaDataResultMap" type="com.rottentomatoes.movieapi.domain.meta.RelatedMetaDataInformation" />

</mapper>
