files:
    "/usr/local/bin/get-eb-env-name":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env python
            import boto.utils
            import boto.ec2

            iid_doc = boto.utils.get_instance_identity()['document']
            region = iid_doc['region']
            instance_id = iid_doc['instanceId']

            ec2 = boto.ec2.connect_to_region(region)
            instance = ec2.get_only_instances(instance_ids=[instance_id])[0]
            env = instance.tags['elasticbeanstalk:environment-name']

            print (env)
            
    "/tmp/environment.config":
        mode: "000644"
        owner: root
        group: root
        content: |
            option_settings:
                -   option_name: env
                    value: "__EB_ENV__"

container_commands:
  100-replace-env:
    # Inject the environment name to the logstash config. This creates the
    # config that is actually used
    command: "sudo sed \"s/__EB_ENV__/$(/usr/local/bin/get-eb-env-name)/g\" /tmp/environment.config > .ebextensions/04environment.config"