files:
  # We need a custom file for the apache LogFormat to include duration.
  "/etc/httpd/conf.d/customLog.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" %D %{env}e" combined-duration
        CustomLog logs/access_log_duration combined-duration

container_commands:
    100-start-apache:
      command: "sudo /etc/init.d/httpd restart"
